<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="keywords" content="Lexus vehicles, luxury cars, Lexus RX, Lexus IS, hybrids, sedans, sports cars, future cars, midsize vehicles, midsize cars, convertibles, performance cars" />
    
    @if (!string.IsNullOrEmpty(ViewBag.MetaDescription))
    {
        <meta name="description" content="@ViewBag.MetaDescription">
    }
    else
    {
        <meta name="description" content="Welcome to Lexus&#039; site. Explore the line of Lexus luxury sedans, SUVs, hybrids, convertibles and accessories, or find a Lexus dealer near you.">
    }

    

    @if (Context.Request.Path.ToString().Length <= 1)
    {
        <title>Lexus - Luxury Sedans, SUVs, Hybrids, and Performance Cars</title>
    }
    else
    {
        <title>@ViewData["Title"] - Lexus - Luxury Sedans, SUVs, Hybrids, and Performance Cars</title>
    }

    <link rel="stylesheet" href="~/css/lexus.css" />
    
    <!-- Favicons -->
	<link rel="apple-touch-icon" href="~/favicon/apple-touch-icon.png" sizes="180x180">
	<link rel="icon" href="~/favicon/favicon-32x32.png" sizes="32x32" type="image/png">
	<link rel="icon" href="~/favicon/favicon-16x16.png" sizes="16x16" type="image/png">
	<link rel="manifest" href="~/favicon/manifest.json">
	<link rel="mask-icon" href="~/favicon/safari-pinned-tab.svg" color="#ffffff">
	<link rel="icon" href="~/favicon/favicon.png">
	<meta name="msapplication-config" content="~/favicon/browserconfig.xml">
	<meta name="theme-color" content="#ffffff">
        
</head>
<body>
	
    @await Html.PartialAsync("Navigation")
	                
    @RenderBody()
    
    @await Html.PartialAsync("Footer")

    <script src="~/js/jquery-2.2.4.min.js"></script>
	<script src="~/js/popper.min.js"></script>
	<script src="~/js/bootstrap.min.js"></script>
	<script src="~/js/main.js"></script>
	<script src="~/js/jquery.mixitup.min.js"></script>
    <script src="~/js/parallax.min.js"></script>
    
     
    @RenderSection("Scripts", required: false)
    
    <script src="~/js/site.js" asp-append-version="true"></script>
    
    <svg class="logoSVG">
	  <!-- THE mask -->
	  <mask id="mask-firefox">
	    <image width="160" height="30" xlink:href="/images/lexus-white.svg" filter="url(#filter)" /> 
	  </mask>
	  
	  <!-- the filter to make the image white -->
	  <filter id="filter">
	    <feFlood flood-color="white" />
	    <feComposite in2="SourceAlpha" operator="in" />
	  </filter>
	</svg>
  
  
  
   
    <script>
      function initMap() {
        // Styles a map in night mode.
        var map = new google.maps.Map(document.getElementById('map'), {
          center: {lat: -25.977, lng: 28.114},
          zoom: 12,
          styles: [
  {
    "elementType": "geometry",
    "stylers": [
      {
        "color": "#212121"
      }
    ]
  },
  {
    "elementType": "labels.icon",
    "stylers": [
      {
        "visibility": "off"
      }
    ]
  },
  {
    "elementType": "labels.text.fill",
    "stylers": [
      {
        "color": "#757575"
      }
    ]
  },
  {
    "elementType": "labels.text.stroke",
    "stylers": [
      {
        "color": "#212121"
      }
    ]
  },
  {
    "featureType": "administrative",
    "elementType": "geometry",
    "stylers": [
      {
        "color": "#757575"
      }
    ]
  },
  {
    "featureType": "administrative.country",
    "elementType": "labels.text.fill",
    "stylers": [
      {
        "color": "#9e9e9e"
      }
    ]
  },
  {
    "featureType": "administrative.land_parcel",
    "stylers": [
      {
        "visibility": "off"
      }
    ]
  },
  {
    "featureType": "administrative.locality",
    "elementType": "labels.text.fill",
    "stylers": [
      {
        "color": "#bdbdbd"
      }
    ]
  },
  {
    "featureType": "poi",
    "elementType": "labels.text.fill",
    "stylers": [
      {
        "color": "#757575"
      }
    ]
  },
  {
    "featureType": "poi.park",
    "elementType": "geometry",
    "stylers": [
      {
        "color": "#181818"
      }
    ]
  },
  {
    "featureType": "poi.park",
    "elementType": "labels.text.fill",
    "stylers": [
      {
        "color": "#616161"
      }
    ]
  },
  {
    "featureType": "poi.park",
    "elementType": "labels.text.stroke",
    "stylers": [
      {
        "color": "#1b1b1b"
      }
    ]
  },
  {
    "featureType": "road",
    "elementType": "geometry.fill",
    "stylers": [
      {
        "color": "#2c2c2c"
      }
    ]
  },
  {
    "featureType": "road",
    "elementType": "labels.text.fill",
    "stylers": [
      {
        "color": "#8a8a8a"
      }
    ]
  },
  {
    "featureType": "road.arterial",
    "elementType": "geometry",
    "stylers": [
      {
        "color": "#373737"
      }
    ]
  },
  {
    "featureType": "road.highway",
    "elementType": "geometry",
    "stylers": [
      {
        "color": "#3c3c3c"
      }
    ]
  },
  {
    "featureType": "road.highway.controlled_access",
    "elementType": "geometry",
    "stylers": [
      {
        "color": "#4e4e4e"
      }
    ]
  },
  {
    "featureType": "road.local",
    "elementType": "labels.text.fill",
    "stylers": [
      {
        "color": "#616161"
      }
    ]
  },
  {
    "featureType": "transit",
    "elementType": "labels.text.fill",
    "stylers": [
      {
        "color": "#757575"
      }
    ]
  },
  {
    "featureType": "water",
    "elementType": "geometry",
    "stylers": [
      {
        "color": "#000000"
      }
    ]
  },
  {
    "featureType": "water",
    "elementType": "labels.text.fill",
    "stylers": [
      {
        "color": "#3d3d3d"
      }
    ]
  }
]
        });
          // Custom Marker image
        var image = '/images/lexus-logo.png';
        var beachMarker = new google.maps.Marker({
          position: {lat: -25.977436, lng: 28.114450},
          map: map,
          icon: image
        });
      }
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB9fn6t890-MZJHLI0LDFf1RA_KHZCy7v0&callback=initMap"
    async defer></script>
    
    <!-- Google Analytics -->
	<script>
	(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
	
	ga('create', 'UA-XXXXX-Y', 'auto');
	ga('send', 'pageview');
	</script>
	<!-- End Google Analytics -->
    
</body>
</html>
