<div class="table-responsive">
    <table class="table table-hover">
        <thead>
            <tr class="b-b">
                <th scope="col"></th>
                <th scope="col">Distance Plan</th>
                <th scope="col">Extended Options</th>
                <th scope="col">Pre-Owned Warranty</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">Distance Plan*</th>
                <td>4 Years <br>or 100 000km</td>
                <td>4 Years or 150 000km <br>5 Years or 180 000km <br>6 Years or 220 000km </td>
                <td>2 Years <br> or 220 000km</td>
            </tr> 
        </tbody>
    </table>
    <p>*Terms and conditions set in the policy document.</p>
</div>