<div class="table-responsive">
    <table class="table table-hover">
        <thead>
            <tr class="b-b">
                <th scope="col"></th>
                <th scope="col">24 Months</th>
                <th scope="col">36 Months</th>
                <th scope="col">48 Months</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">Price</th>
                <td>R 641 500</td>
                <td>R 641 500</td>
                <td>R 641 500</td>
            </tr>
            <tr>
                <th scope="row">Interest Rate*</th>
                <td>10.8%</td>
                <td>10.8%</td>
                <td>10.8%</td>
            </tr>
            <tr>
                <th scope="row">Deposit</th>
                <td>R80 188</td>
                <td>R80 188</td>
                <td>R80 188</td>
            </tr>
            <tr>
                <th scope="row">Monthly Installments</th>
                <td>R9414</td>
                <td>R9414</td>
                <td>R9414</td>
            </tr>
            <tr>
                <th scope="row">Number of Installments</th>
                <td>36</td>
                <td>36</td>
                <td>36</td>

            </tr>
            <tr>
                <th scope="row">Guaranteed future value %</th>
                <td>59%</td>
                <td>59%</td>
                <td>59%</td>
            </tr>
            <tr>
                <th scope="row">Guaranteed future value amount</th>
                <td>R378 458</td>
                <td>R378 458</td>
                <td>R378 458</td>
            </tr>
            <tr>
                <th scope="row">Total installments</th>
                <td>R338 543</td>
                <td>R338 543</td>
                <td>R338 543</td>
            </tr>
        </tbody>
    </table>
</div>