<footer class="p-4">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 col-md-6">
                <div class="row">
                    <div class="col-4 col-lg-3">
                        <ul class="list-unstyled">
                            <li><a href="" class="font-weight-bold">Home</a></li>
                            <li><a href="">Specials</a></li>
                            <li><a href="">Service</a></li>
                            <li><a href="">Team</a></li>
                        </ul>
                    </div>
                    <div class="col-4 col-lg-3">
                        <ul class="list-unstyled">
                            <li><a href="" class="font-weight-bold">New Cars</a></li>
                            <li><a href="">Sedans</a></li>
                            <li><a href="">SUV'S</a></li>
                            <li><a href="">Coupes</a></li>
                        </ul>
                    </div>
                    <div class="col-4 col-lg-3">
                        <ul class="list-unstyled">
                            <li><a href="" class="font-weight-bold">Used</a></li>
                            <li><a href="">Sedans</a></li>
                            <li><a href="">SUV's</a></li>
                            <li><a href="">Coupses</a></li>
                        </ul>
                    </div>  
                    <div class="col-4 col-lg-3">
                        <ul class="list-unstyled">
                            <li><a href="" class="font-weight-bold">Dealers</a></li>
                            <li><a href="">Lynwood</a></li>
                            <li><a href="">Midrand</a></li>
                            <li><a href="">Kingsmead</a></li>
                        </ul>
                    </div>              
                </div>            
            </div>
            <div class="col-12 col-md-6">
                <div class="row justify-content-md-end justify-content-sm-start">
                    
                    <div class="col-4 col-lg-3">
                        <ul class="list-unstyled">
                            <li><a href="">Terms &amp; Conditions</a></li>
                            <li><a href="">Club McCarthy</a></li>
                            <li><a href="">Bidvest Insurance</a></li>
                        </ul>
                    </div>
                    <div class="col-4 col-lg-3">
                        <ul class="list-unstyled">
                            <li><a href="">Privacy Policy</a></li>
                            <li><a href="">McCarthy</a></li>
                            <li><a href="">My Lexus App</a></li> 
                        </ul>
                    </div>
                    
                </div>
            </div>
        </div>
        <div class="row mt-3 justify-content-md-end justify-content-sm-start">
            <div class="col-12 col-md-6 mb-3">
                <a href=""><img src="/images/bidvest-club-mccarthy-logo.png" alt="" height="50" class="mr-2"></a>
                <a href=""><img src="/images/lexus-logo-2.png"></a>
            </div>
            <div class="col-12 col-md-6 text-md-right">
                <a href=""><img src="images/app-store.png" alt=""></a>
                <a href=""><img src="images/google-play.png" alt=""></a>
                <span class="text-white text-capitalize d-block">&copy; 2018 Lexus South Africa</span>
            </div>
        </div>
    </div>
</footer>

<div class="query"></div>