<section class="grid">
	<div class="container-fluid">
		<div class="row mb-2">
			<div class="tile w-25 bg-primary">
				<a href=""></a>
				<img src="~/images/cars/640x640.jpg" class="bg">
			</div>
			<div class="tile w-25 bg-secondary">
				<a href=""></a>
				<img src="~/images/cars/640x640.jpg" class="bg">
			</div>
			<div class="tile w-25 bg-warning">
				<a href=""></a>
				<img src="~/images/cars/640x640.jpg" class="bg">
			</div>
			<div class="tile w-25 bg-dark">
				<a href=""></a>
				<img src="~/images/cars/640x640.jpg" class="bg">
			</div>
		</div>
		<div class="row mb-2">
			<div class="tile w-33 bg-primary">
				<a href=""></a>
				<img src="~/images/cars/640x640.jpg" class="bg">
			</div>
			<div class="tile w-33 bg-secondary">
				<a href=""></a>
				<img src="~/images/cars/640x640.jpg" class="bg">
			</div>
			<div class="tile w-33 bg-dark">
				<a href=""></a>
				<img src="~/images/cars/640x640.jpg" class="bg">
			</div>
		</div>
		<div class="row mb-2">
			<div class="tile w-25 bg-primary">
				<a href=""></a>
				<img src="~/images/cars/640x640.jpg" class="bg">
			</div>
			<div class="tile w-25 bg-secondary">
				<a href=""></a>
				<img src="~/images/cars/640x640.jpg" class="bg">
			</div>
			<div class="tile w-50 bg-dark">
				<a href=""></a>
				<img src="~/images/cars/640x320.jpg" class="bg">
			</div>
		</div>
		<div class="row mb-2">
			<div class="tile w-50 bg-primary">
				<a href=""></a>
				<img src="~/images/cars/640x320.jpg" class="bg">
			</div>
			<div class="tile w-50 bg-dark">
				<a href=""></a>
				<img src="~/images/cars/640x320.jpg" class="bg">
			</div>
		</div>
		<div class="row mb-2">
			<div class="tile w-50 bg-primary">
				<a href=""></a>
				<img src="~/images/cars/640x640.jpg" class="bg">
			</div>
			<div class="tile w-50 bg-dark">
				<div class="flex-column my-0">
					<div class="tile h-50 bg-warning">
						<a href="">2</a>
						<img src="~/images/cars/640x320.jpg" class="bg">
					</div>
					<div class="tile h-50 bg-success">
						<a href="">3<br>3<br>3<br>3</a>
						<img src="~/images/cars/640x320.jpg" class="bg">
					</div>
				</div>
			</div>
		</div>
	</div>
</section>