<div>Search Refine</div>


<p class="lead">Dealerships</p>
<div class="search-list">
    <div class="active">
        <a href="/cars/lexus/sedan/">Polokwane</a>
        <span>17</span>
    </div>
    <div>
        <a href="/cars/lexus/crossover-suv/">East Rand</a>
        <span>2</span>
    </div>
    <div>
        <a href="/cars/lexus/convertible/">Fourways</a>
        <span>1</span>
    </div>
</div>
<p class="lead">Shape</p>
<div class="search-list">
    <div class="active">
        <a href="/cars/lexus/sedan/">Sedan</a>
        <span>17</span>
    </div>
    <div>
        <a href="/cars/lexus/crossover-suv/">Crossover - SUV</a>
        <span>2</span>
    </div>
    <div>
        <a href="/cars/lexus/convertible/">Convertible</a>
        <span>1</span>
    </div>

</div>
<p class="lead">Select Models</p>
<div class="search-list">
    <div>
        <a href="/cars/lexus-ct/keywords/lexus/">CT</a>
        <span>7</span>
    </div>
    <div>
        <a href="/cars/lexus-es/keywords/lexus/">ES</a>
        <span>30</span>
    </div>
    <div>
        <a href="/cars/lexus-gs/keywords/lexus/">GS</a>
        <span>26</span>
    </div>
    <div class="active">
        <a href="/cars/lexus-gx/keywords/lexus/">GX</a>
        <span>2</span>
    </div>
    <div>
        <a href="/cars/lexus-is/keywords/lexus/">IS</a>
        <span>74</span>
    </div>
    <div>
        <a href="/cars/lexus-ls/keywords/lexus/">LS</a>
        <span>5</span>
    </div>
    <div>
        <a href="/cars/lexus-lx/keywords/lexus/">LX</a>
        <span>5</span>
    </div>
    <div>
        <a href="/cars/lexus-rx/keywords/lexus/">RX</a>
        <span>32</span>
    </div>
    <div>
        <a href="/cars/lexus-rx-350/keywords/lexus/">RX 350</a>
        <span>7</span>
    </div>
    <div>
        <a data-divtoggle="true">More</a>
        <span><i class="fa fa-caret-down"></i></span>
    </div>
</div>
<p class="lead">Price</p>
<div class="search-list">

    <div>
        <a rel="nofollow" href="/cars/lexus/10k/">R10k</a>
        <span>1</span>
    </div>
    <div>
        <a rel="nofollow" href="/cars/lexus/10k/20k/">R10k - 20k</a>
        <span>14</span>
    </div>
    <div>
        <a rel="nofollow" href="/cars/lexus/20k/50k/">R20k - 50k</a>
        <span>78</span>
    </div>
    <div>
        <a rel="nofollow" href="/cars/lexus/50k/75k/">R50k - 75k</a>
        <span>3</span>
    </div>
    <div>
        <a rel="nofollow" href="/cars/lexus/75k/100k/">R75k - 100k</a>
        <span>7</span>
    </div>
    <div class="active">
        <a rel="nofollow" href="/cars/lexus/100k/150k/">R100k - 150k</a>
        <span>8</span>
    </div>
    <div>
        <a rel="nofollow" href="/cars/lexus/150k/200k/">R150k - 200k</a>
        <span>10</span>
    </div>
    <div>
        <a rel="nofollow" href="/cars/lexus/200k/250k/">R200k - 250k</a>
        <span>13</span>
    </div>
    <div>
        <a rel="nofollow" href="/cars/lexus/250k/300k/">R250k - 300k</a>
        <span>11</span>
    </div>

    <div>
        <a data-divtoggle="true">More</a>
        <span><i class="fa fa-caret-down"></i></span>
    </div>
</div>

<p class="lead">Region</p>
<div class="search-list">

    <div>
        <a href="/cars/lexus/western-cape/">Western Cape</a>
        <span>4</span>
    </div>
    <div>
        <a href="/cars/lexus/north-west/">North West</a>
        <span>1</span>
    </div>
    <div>
        <a href="/cars/lexus/mpumalanga/">Mpumalanga</a>
        <span>4</span>
    </div>
    <div>
        <a href="/cars/lexus/limpopo/">Limpopo</a>
        <span>1</span>
    </div>
    <div>
        <a href="/cars/lexus/kwazulu-natal/">KwaZulu-Natal</a>
        <span>4</span>
    </div>
    <div class="active">
        <a href="/cars/lexus/gauteng/">Gauteng</a>
        <span>178</span>
    </div>

</div>
<p class="lead">Colour</p>
<div class="search-list">
    <div> <a href="/cars/lexus/black/">Black</a> <span>7</span> </div>
    <div> <a href="/cars/lexus/blue/">Blue</a> <span>1</span> </div>
    <div> <a href="/cars/lexus/brown/">Brown</a> <span>2</span> </div>
    <div class="active"> <a href="/cars/lexus/charcoal/">Charcoal</a> <span>1</span> </div>
    <div> <a href="/cars/lexus/gold/">Gold</a> <span>1</span> </div>
    <div> <a href="/cars/lexus/grey/">Grey</a> <span>4</span> </div>
    <div> <a href="/cars/lexus/maroon/">Maroon</a> <span>2</span> </div>
    <div> <a href="/cars/lexus/silver/">Silver</a> <span>5</span> </div>
    <div> <a href="/cars/lexus/white/">White</a> <span>9</span> </div>
    <div style="display:none">
        <div> <a href="/cars/lexus/red/">Red</a> <span>1</span> </div>
    </div>
    <div> <a data-divtoggle="true">More</a> <span><i class="fa fa-caret-down"></i></span> </div>
</div>
