
    <div class="result-listing">
       <a href="/pre-owned-detail">
            <div>
                <img src="~/images/result-img-2.jpg" alt="" class="img-fluid">
                <span class="bg-secondary text-white"><b>SOLD</b></span>
            </div>
            <div>
                <span>R 699 899.99</span>
                <span class="text-secondary">LEXUS LX</span>
                <span>LEXUS LX 570 5.7 V8</span>
                <span>MERCURY GREY (CS) 1H9</span>
                <span>109 770 KM </span>
            </div>
        </a>
    </div>
