    <p class="pt-3">Dealerships</p>
    <div class="search-list">
        <div class="active">
            <a href="/cars/lexus/sedan/">Lyndwood</a>
            <span>17</span>
        </div>
        <div>
            <a href="/cars/lexus/crossover-suv/">Midrand</a>
            <span>2</span>
        </div>
        <div>
            <a href="/cars/lexus/convertible/">Kingsmead</a>
            <span>1</span>
        </div>
    </div>
    <p>Category</p>
    <div class="search-list">
        <div class="active">
            <a href="/cars/lexus/sedan/">New</a>
            <span>17</span>
        </div>
        <div>
            <a href="/cars/lexus/crossover-suv/">Demo</a>
            <span>2</span>
        </div>
        <div>
            <a href="/cars/lexus/convertible/">Pre-Owned</a>
            <span>1</span>
        </div>
    </div>
    
   
    
    

