<div class="col-12 car-special-listing mx-auto">
        <img src="/images/specials-1.jpg" alt="" class="img-fluid">
        <span class="">ES 300H EX 2.0 FWD (Hybrid)</span>
        <span>Lynwood</span>
        <span class="">R670 700</span>
        <span class="">R28 000</span>                
</div>