@font-face {
	font-family:"nobellexusbold";
	src:url("../fonts/nobellexus-bold-webfont.eot");
	src:url("../fonts/nobellexus-bold-webfont.eot?#iefix") format('embedded-opentype'),
	    url("../fonts/nobellexus-bold-webfont.woff") format('woff'),
	    url("../fonts/nobellexus-bold-webfont.ttf") format('truetype'),
	    url("../fonts/nobellexus-bold-webfont.svg#nobellexusbold") format('svg');
	font-weight:400;
	font-style:normal;
}

@font-face {
	font-family:"nobellexuslight";
	src:url("../fonts/nobellexus-light-webfont.eot");
	src:url("../fonts/nobellexus-light-webfont.eot?#iefix") format('embedded-opentype'),
	    url("../fonts/nobellexus-light-webfont.woff") format('woff'),
	    url("../fonts/nobellexus-light-webfont.ttf") format('truetype'),
	    url("../fonts/nobellexus-light-webfont.svg#nobellexuslight") format('svg');
	font-weight:400;
    font-style:normal;
}

@font-face {
	font-family:"nobellexusregular";
	src:url("../fonts/nobellexus-regular-webfont.eot");
	src:url("../fonts/nobellexus-regular-webfont.eot?#iefix") format('embedded-opentype'),
	    url("../fonts/nobellexus-regular-webfont.woff") format('woff'),
	    url("../fonts/nobellexus-regular-webfont.ttf") format('truetype'),
	    url("../fonts/nobellexus-regular-webfont.svg#nobellexusregular") format('svg');
	font-weight:400;
	font-style:normal;
}