@{
    ViewData["Title"] = "Components";
}

<section class="dark-gradient section">
	<div class="wrap container">
		<div class="content center-left text-white">
			<div class="shout">The new <span class="text-secondary">shout</span></div>
			<div class="display-1">Display 1 <span class="light">LX <span class="text-secondary">450d</span></span></div>
            <div class="display-2">Display 2 <span class="text-secondary">LX</span></div>
            <div class="display-3">Display 3</div>
			<h1>LX 450d</h1>
            <h2>THE MOST IMPRESSIVE <span class="text-secondary">LX YET</span></h2>
            <h3>IN A LEAGUE OF <span class="light">ITS OWN</span></h3>
            <h4>LX <span class="text-secondary">450d</span></h4>
            <h5>THE MOST <span class="light">IMPRESSIVE LX YET</span></h5>
            <h6>IN A LEAGUE <span class="light text-secondary">OF ITS OWN</span></h6>
            <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec in lacus eu libero interdum posuere a eu ex. In sed ullamcorper urna, vitae varius neque. Sed egestas blandit nibh. Donec dignissim cursus dui, et vestibulum massa pharetra vitae. Etiam porta mi a velit dapibus, non finibus dolor euismod. Pellentesque enim mi, condimentum ac viverra vitae, imperdiet id tellus. Phasellus eu elementum odio. Duis et odio ut est hendrerit consectetur at id ipsum.</p>
            <p>Pellentesque lacinia sagittis libero et feugiat. Etiam volutpat adipiscing tortor non luctus. Vivamus venenatis vitae metus et aliquet. Praesent vitae justo purus. In hendrerit lorem nisl, ac lacinia urna aliquet non. Quisque nisi tellus, rhoncus quis est sit amet, lacinia euismod nunc. Aenean nec nibh velit. Fusce quis ante in nisl molestie fringilla. Nunc vitae ante id magna feugiat condimentum. Maecenas sit amet urna massa.</p>
            <div class="row">
				<div class="col">
					<a href="javascript:void(0)" class="btn btn-light">Default</a>
					<a href="javascript:void(0)" class="btn btn-secondary">Default</a>
					<a href="javascript:void(0)" class="btn btn-light btn-round">Default</a>
					<a href="javascript:void(0)" class="btn btn-secondary btn-round">Default</a>
					<a href="javascript:void(0)" class="btn btn-outline-light">Default</a>
					<a href="javascript:void(0)" class="btn btn-outline-secondary">Default</a>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="section">
	<div class="wrap container">
		<div class="content center-left">
			<div class="shout">The new <span class="text-secondary">shout</span></div>
			<div class="display-1">Display 1 <span class="light">LX <span class="text-secondary">450d</span></span></div>
            <div class="display-2">Display 2 <span class="text-secondary">LX</span></div>
            <div class="display-3 gray">Display 3</div>
			<h1>LX 450d</h1>
            <h2>THE MOST IMPRESSIVE <span class="gray">LX YET</span></h2>
            <h3>IN A LEAGUE OF <span class="light">ITS OWN</span></h3>
            <h4>LX <span class="text-secondary">450d</span></h4>
            <h5>THE MOST <span class="light">IMPRESSIVE LX YET</span></h5>
            <h6>IN A LEAGUE <span class="light text-secondary">OF ITS OWN</span></h6>
            <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec in lacus eu libero interdum posuere a eu ex. In sed ullamcorper urna, vitae varius neque. Sed egestas blandit nibh. Donec dignissim cursus dui, et vestibulum massa pharetra vitae. Etiam porta mi a velit dapibus, non finibus dolor euismod. Pellentesque enim mi, condimentum ac viverra vitae, imperdiet id tellus. Phasellus eu elementum odio. Duis et odio ut est hendrerit consectetur at id ipsum.</p>
            <p>Pellentesque lacinia sagittis libero et feugiat. Etiam volutpat adipiscing tortor non luctus. Vivamus venenatis vitae metus et aliquet. Praesent vitae justo purus. In hendrerit lorem nisl, ac lacinia urna aliquet non. Quisque nisi tellus, rhoncus quis est sit amet, lacinia euismod nunc. Aenean nec nibh velit. Fusce quis ante in nisl molestie fringilla. Nunc vitae ante id magna feugiat condimentum. Maecenas sit amet urna massa.</p>
            <div class="row">
				<div class="col">
					<a href="javascript:void(0)" class="btn btn-primary">Default</a>
					<a href="javascript:void(0)" class="btn btn-secondary">Default</a>
					<a href="javascript:void(0)" class="btn btn-primary btn-round">Default</a>
					<a href="javascript:void(0)" class="btn btn-secondary btn-round">Default</a>
					<a href="javascript:void(0)" class="btn btn-outline-primary">Default</a>
					<a href="javascript:void(0)" class="btn btn-outline-secondary">Default</a>
				</div>
			</div>
		</div>
	</div>
</section>



<section class="grid">
	<div class="container-fluid">
		<div class="row mb-2">
			<div class="tile w-25 bg-primary">
				<a href=""></a>
				<img src="~/images/cars/640x640.jpg" class="bg">
			</div>
			<div class="tile w-25 bg-secondary">
				<a href=""></a>
				<img src="~/images/cars/640x640.jpg" class="bg">
			</div>
			<div class="tile w-25 bg-warning">
				<a href=""></a>
				<img src="~/images/cars/640x640.jpg" class="bg">
			</div>
			<div class="tile w-25 bg-dark">
				<a href=""></a>
				<img src="~/images/cars/640x640.jpg" class="bg">
			</div>
		</div>
		<div class="row mb-2">
			<div class="tile w-33 bg-primary">
				<a href=""></a>
				<img src="~/images/cars/640x640.jpg" class="bg">
			</div>
			<div class="tile w-33 bg-secondary">
				<a href=""></a>
				<img src="~/images/cars/640x640.jpg" class="bg">
			</div>
			<div class="tile w-33 bg-dark">
				<a href=""></a>
				<img src="~/images/cars/640x640.jpg" class="bg">
			</div>
		</div>
		<div class="row mb-2">
			<div class="tile w-25 bg-primary">
				<a href=""></a>
				<img src="~/images/cars/640x640.jpg" class="bg">
			</div>
			<div class="tile w-25 bg-secondary">
				<a href=""></a>
				<img src="~/images/cars/640x640.jpg" class="bg">
			</div>
			<div class="tile w-50 bg-dark">
				<a href=""></a>
				<img src="~/images/cars/640x320.jpg" class="bg">
			</div>
		</div>
		<div class="row mb-2">
			<div class="tile w-50 bg-primary">
				<a href=""></a>
				<img src="~/images/cars/640x320.jpg" class="bg">
			</div>
			<div class="tile w-50 bg-dark">
				<a href=""></a>
				<img src="~/images/cars/640x320.jpg" class="bg">
			</div>
		</div>
		<div class="row mb-2">
			<div class="tile w-50 bg-primary">
				<a href=""></a>
				<img src="~/images/cars/640x640.jpg" class="bg">
			</div>
			<div class="tile w-50 bg-dark">
				<div class="flex-column my-0">
					<div class="tile h-50 bg-warning">
						<a href="">2</a>
						<img src="~/images/cars/640x320.jpg" class="bg">
					</div>
					<div class="tile h-50 bg-success">
						<a href="">3<br>3<br>3<br>3</a>
						<img src="~/images/cars/640x320.jpg" class="bg">
					</div>
				</div>
			</div>
		</div>
	</div>
</section>