@{
    ViewData["Title"] = "Dealers";
}
<div class="home-page">
    <section class="section hero">
                <div class="container">
                   <div class="row my-5" style="height:400px">
                       <div class="col">
                           <h1 class="display-4">Dealers</h1>
                        </div>
                   </div>
                </div>
    </section> 
    <section class="car-specials my-5">
        <div class="container">
            <div class="row my-4">
                <div class="col">
<!--                    <div class="h4 light">Exclusive deals of other similar models to the IS 200T EX</div>      -->
                </div>  
            </div>
        </div>
    </section>
</div>

