@{
    ViewData["Title"] = "Home Page";
}

<header class="light dark-gradient" style="height: 80vh">
	<div class="wrap container">
		<div class="content center-left text-white">
			<h1>THE NEW LC 500</h1>
		</div>
	</div>
</header>

<section style="height: 1000px"></section>