@{
    ViewData["Title"] = "Home Page";
}
<div class="lexus-shared">
    <section class="section bidvest-mccarthy">
       <div class="container">
            <div class="row py-5">
                <div class="col-12">
                    <img src="/images/bidvest-logo-white.png" alt="Bidvest McCarthy Logo" class="my-4">
                    <p class="h5 text-white mb-5 light">It is the old motor industry adage that people buy from people, but these days we know that people only buy from the BEST people and there is no better than at McCarthy Toyota Midrand. For all your motor needs; from Purchasing your Brand New Toyota, to servicing it and using Toyota genuine Parts, to our wide range of Pre-Owned vehicles you can be guaranteed that you will be dealing with the right people.</p>
                    <a href="/dealers" class="btn btn-secondary text-uppercase text-center-xs d-block-xs mx-auto">View Bidvest Dealership</a>
                </div>
            </div>
        </div>
    </section>
    <section class="models">
        <div class="container-fluid">
            <div class="row mt-5">
                    <div class="col" onclick="location.href='/models#sedans';">
                       <h2 class="display-4">Sedans</h2>
                        <p class="h5 light">Best of all worlds</p>
                        <span></span>
                    </div>
                <div class="col" onclick="location.href='/models#suvs';">
                    <h2 class="display-4">Suvs</h2>
                    <p class="h5 light">Luxury Expanded</p>
                    <span></span>
                </div>
                <div class="col" onclick="location.href='/models#coupes';">
                    <h2 class="display-4">Coupes</h2>
                    <p class="h5 light">More than a car. A feeling</p>
                    <span></span>
                </div>
            </div>
        </div>
    </section>
    <section class="car-specials mt-6">
        <div class="container">
            <div class="row mt-5">
                <div class="col">
                    <div class="display-4">Latest Specials</div>
                    <div class="h5 light" id="showdate"></div>
                </div>
            </div>
            @Html.Partial("specials-listings")
        </div>
    </section>
 
    <section class="angle--top-left-2">
        <div class="container-fluid">           
            <div class="row">
                <div class="col-12 col-md-6 bidvest-insurance">
                    <div class="row p-4">
                        <div class="col">
                            <img src="/images/bidvest-insurance-logo.png" width="150" alt="" class="img-fluid" style="margin-top:83px;">
                        </div>
                    </div>
                    <div class="row p-4 w-75-lg-up">
                        <div class="col">
                            <img src="/images/mechanical-warranty.png" width="40"alt="" class="img-fluid">
                            <p>Mechanical Warranty</p>
                        </div> 
                        <div class="col">
                            <img src="/images/bodyguard.png" alt="" width="40"class="img-fluid">
                            <p>Body Guard</p>
                        </div> 
                        <div class="col">
                            <img src="/images/tyre-guard.png" alt="" width="40"class="img-fluid">
                            <p>Tyre Guard</p>
                        </div> 
                        <div class="col">
                            <img src="/images/theftbuster-plus.png" alt="" width="40" class="img-fluid">
                            <p>Theftbuster Plus</p>
                        </div> 
                        <div class="col">
                            <img src="/images/shortfall.png" alt="" width="40" class="img-fluid">
                            <p>Shortfall Protection</p>
                        </div>
                    </div>
                    <div class="row p-4 w-75-lg-up">
                        <div class="col">
                            <img src="/images/maintenance-plan.png" alt="" width="40" class="img-fluid">
                            <p>Maintenance Plan</p>
                        </div>
                        <div class="col">
                            <img src="/images/service-plan.png" alt="" width="40" class="img-fluid">
                            <p>Service Plan</p>
                        </div>
                        <div class="col">
                            <img src="/images/keyguard.png" alt="" width="40" class="img-fluid">
                            <p>Key Guard</p>
                        </div>
                        <div class="col">
                            <img src="/images/service-plan-booster.png" alt="" width="40" class="img-fluid">
                            <p>Service Plan Booster</p>
                        </div>
                        <div class="col"></div>
                    </div>
                    <div class="row mb-4">
                        <div class="col">
                            <a href="javascript:void(0)" class="btn btn-outline-light  mb-3 mx-auto d-block-xs mx-md-4">View Bidvest Insurance</a>
                        </div>
                    </div>          
                </div>  
                <div class="col-12 col-md-6 hero">
                    <div class="row p-5">
                        <div class="col">
                            <img src="/images/bidvest-club-mccarthy-logo.png" width="200" alt="" class="img-fluid" style="margin-top:60px;">
                        </div>
                    </div>
                    <div class="row text-center px-5 w-75-lg-up">
                        <div class="col-4">
                            <img src="/images/medical-assistance.png" width="40" alt="" class="img-fluid">
                            <p>24/7 Professional Emergency Assistance on road or at home</p>
                        </div> 
                        <div class="col-4">
                            <img src="/images/giveaways.png" alt="" width="40" class="img-fluid">
                            <p>Exclusive Giveaways and Discount on travel.</p>
                        </div> 
                        <div class="col-4">
                            <img src="/images/gps-app.png" alt="" width="40" class="img-fluid">
                            <p>McCarthy App with GPS to help get our emergency team faster to you.</p>
                        </div> 
                    </div>
                    <div class="row text-center px-5 w-75-lg-up">
                        <div class="col-4">
                            <img src="/images/emergency-assistance.png" width="40" alt="" class="img-fluid">
                            <p>Medical Emergency Assistance</p>
                        </div> 
                        <div class="col-4">
                            <img src="/images/legal.png" alt="" width="40" class="img-fluid">
                            <p>Legal Advice Assistance.</p>
                        </div>
                    </div>
                    <div class="row my-3">
                        <div class="col">
                            <a href="javascript:void(0)" class="btn btn-outline-light mb-3 d-block-xs mx-md-4">Find out more</a>
                            <span class="h6 d-block font-weight-bold text-center-xs mb-4 mx-lg-4">Get 1 Year free membership with every Lexus purchase</span>
                        </div>
                    </div>    
                </div>        
            </div>  
        </div>
    </section>
</div>

