@{
    ViewData["Title"] = "Models";
}

<div class="bg"></div>
<div class="models">
    <section class="section sedans">
        <div class="container px-5">
            <div class="row my-5">
                <div class="col-3">
                  <h1 class="display-4">Sedans</h1>  
                </div>
                <div class="col-4"> 
                <span class="h4 light">Ride comfortably an in style with Lexus' wide range of sedans</span>  </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="car-specs-model mx-auto text-center">
                        <ul class="list-inline">
                            <a href="/model-name">
                               <li class="list-inline-item active is" style="background-image: url('/images/is-slant.png')">
                                    <span>R601 900</span>
                                    <span>IS</span>
                                </li>
                            </a>
                            <a href=""><li class="list-inline-item es"><span></span><span>ES</span></li></a>
                            <a href=""><li class="list-inline-item" style="background-image: url('/images/empty.png')"><span></span><span>Es</span></li></a>
                           <a href=""> <li class="list-inline-item" style="background-image: url('/images/empty.png')"><span></span><span>GS</span></li></a>
                            <a href=""><li class="list-inline-item" style="background-image: url('/images/empty.png')"><span></span><span>LS</span></li></a>
                            <a href=""><li class="list-inline-item" style="background-image: url('/images/empty.png')"><span></span><span>CT</span></li></a>
                        </ul>    
                    </div> 
                    <div class="car-model-pic mx-auto">
                      <img src="/images/IS-1.png" alt="" class="img-fluid">  
                      <img src="/images/IS-2.png" alt="" class="img-fluid">  
                      <img src="/images/IS-3.png" alt="" class="img-fluid">  
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section suvs angle--both-left-left">
        <div class="container px-5">
            <div class="row my-5">
                <div class="col-3">
                  <h1 class="display-4">SUVS</h1>  
                </div>
                <div class="col-4"> 
                <span class="h4 light">When SUV crosses elegantly into the world of Lexus' luxury</span>  </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="car-specs-model mx-auto text-center">
                        <ul class="list-inline">
                            <li class="list-inline-item" style="background-image: url('/images/empty.png')">
                            <span></span>
                            <span>NX</span>
                            </li>
                            <li class="list-inline-item active" style="background-image: url('/images/rx-slant.png')">
                            <span>R906 900</span>
                            <span>RX</span></li>
                            <li class="list-inline-item" style="background-image: url('/images/empty.png')">
                            <span></span>
                            <span>RX</span></li>
                            <li class="list-inline-item" style="background-image: url('/images/empty.png')">
                            <span></span>
                            <span>LX</span></li>
                        </ul>    
                    </div> 
                    <div class="car-model-pic mx-auto">
                      <img src="/images/rx-1.png" alt="" class="img-fluid">  
                      <img src="/images/rx-2.png" alt="" class="img-fluid">  
                      <img src="/images/rx-3.png" alt="" class="img-fluid">  
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section coupes angle--top-right text-white">
        <div class="container px-5">
            <div class="row my-5">
                <div class="col-3">
                  <h1 class="display-4">Coupes</h1>  
                </div>
                <div class="col-4"> 
                    <span class="h4 light">Nothing else will ever come close to a Lexus Coupe</span> 
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="car-specs-model mx-auto text-center">
                        <ul class="list-inline">
                            <li class="list-inline-item" style="background-image: url('/images/empty.png')">
                            <span></span>
                            <span>RC</span>
                            </li>
                            <li class="list-inline-item active" style="background-image: url('/images/lc-slant.png')">
                            <span>R1 746 900</span>
                            <span>LC</span></li>
                        </ul>    
                    </div> 
                    <div class="car-model-pic mx-auto">
                      <img src="/images/lc-1.png" alt="" class="img-fluid">  
                      <img src="/images/lc-2.png" alt="" class="img-fluid">  
                      <img src="/images/lc-3.png" alt="" class="img-fluid">  
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="stitch-1"></div>
    <section class="car-dealerships my-5">
        <div class="container">
            <div class="row">
                <div class="row my-4">
                     <div class="display-4">Lexus Dealerships</div>
                </div>
            </div>
            <div class="row mx-auto text-center my-5">
                    <div class="col-4">
                        <div class="card text-left">
                            <div class="card-header">
                                <span class="h3 text-uppercase">Midrand</span>
                                <img src="/images/bidvest-logo-white.png" alt="" class="float-right">
                            </div>
                            <div class="card-body">
                                <span class="d-block">1682 New Rd</span>
                                <span class="d-block">Carswald</span>
                                <span class="d-block">Midrand</span>
                            </div>
                            <div class="card-footer text-center">
                                <span class="h4"><img src="/images/phone-white.png" alt=""> 012 231 4123</span>
                            </div>
                        </div>               
                    </div>
                    <div class="col-4">
                       <div class="card text-left">
                            <div class="card-header">
                                <span class="h3 text-uppercase">Midrand</span>
                                <img src="/images/bidvest-logo-white.png" alt="" class="float-right">
                            </div>
                            <div class="card-body">
                                <span class="d-block">1682 New Rd</span>
                                <span class="d-block">Carswald</span>
                                <span class="d-block">Midrand</span>
                            </div>
                            <div class="card-footer text-center">
                                <span class="h4"><img src="/images/phone-white.png" alt=""> 012 231 4123</span>
                            </div>
                        </div>   
                    </div>
                    <div class="col-4">
                      <div class="card text-left">
                            <div class="card-header">
                                <span class="h3 text-uppercase">Midrand</span>
                                <img src="/images/bidvest-logo-white.png" alt="" class="float-right">
                            </div>
                            <div class="card-body">
                                <span class="d-block">1682 New Rd</span>
                                <span class="d-block">Carswald</span>
                                <span class="d-block">Midrand</span>
                            </div>
                            <div class="card-footer text-center">
                                <span class="h4"><img src="/images/phone-white.png" alt=""> 012 231 4123</span>
                            </div>
                        </div>   
                    </div>
            </div> 
        </div>
    </section>
</div>
    
    



