@{
    ViewData["Title"] = "Models";
}

<div class="bg"></div>
<div class="models">
    <div class="main-cta">
        <div class="car-specs mx-auto text-center">
            <ul class="list-inline">
                <li class="list-inline-item"><span> <img src="/images/phone-white.png" alt="">Midrand</span></li>
                <li class="list-inline-item"><span> <img src="/images/location-white.png" alt="">Find a Dealer</span></li>
                <li class="list-inline-item"><span> <img src="/images/book-test-drive-white.png" alt="">Book a Test Drive</span></li>
                
            </ul>    
        </div> 
    </div>

    <section class="section hero">
        <header class="parallax-window" data-parallax="scroll" data-image-src="/images/lexusIS_headerBG.jpg">
            <div class="parallax-section parallax">
                <div class="container">
                    <div class="row d-flex align-items-center h100" style="height:100vh;">
                        <div class="col text-right pull-right">
                            <h1 class="display-2 text-white text-capitalize">Lexus <span>IS</span></h1>
                            <div class="h3 text-white light">Uncommon Design.</div>
                            <div class="h3 text-white light">Unprecedented Engineering.</div>
                        </div>
                    </div>
                </div>
            </div> 
        </header>
    </section>

    <section class="section">
        <div class="container-fluid px-5">
           <div class="main-cta-stick mt-0">
                <div class="car-specs">
                    <ul class="list-inline">
                        <li class="list-inline-item"><span><a href="">Lexus IS</a></span></li>
                        <li class="list-inline-item"><span><a href="">Specs</a></span></li>
                        <li class="list-inline-item"><span><a href="">Gallery</a></span></li>
                    </ul>    
                </div> 
            </div>
            <div class="car-specs-model mx-auto text-center">
                <ul class="list-inline">
                    <li class="list-inline-item"><p></p><span>7.0s</span></li>
                    <li class="list-inline-item"><p></p><span>8</span></li>
                    <li class="list-inline-item"><p></p><span>175</span></li>
                </ul>    
            </div> 
            <div class="car-model-pic mx-auto wrap">
              <img src="/images/Madder-Red-A00914.png" alt="" class="img-fluid">  
            </div>
            <div class="car-model-colours mx-auto wrap">
                <ul class="list-inline">
                    <li class="list-inline-item"><span class="morello-red"></span></li>
                    <li class="list-inline-item"><span class="graphite-black"></span></li>
                    <li class="list-inline-item"><span class="madder-red"></span></li>
                    <li class="list-inline-item"><span class="mercury-grey"></span></li>
                    <li class="list-inline-item"><span class="sonic-quartz"></span></li>
                    <li class="list-inline-item"><span class="platinum-silver"></span></li>
                    
                         
                </ul>  
                <p>Morello Red</p>
            </div>
        </div>
    </section>
    
    <section class="car-features">
    <header class="parallax-window" data-parallax="scroll" data-image-src="/images/block_1_bg.jpg">
        <div class="parallax-section parallax">
            <div class="container">
                <div class="row d-flex align-items-center h100" style="height:100vh;">
                    <div class="col pull-left">
                        <h1 class="display-2 text-white text-capitalize">Lexus <span>IS</span></h1>
                        <div class="h3 text-white light">Uncommon Design.</div>
                        <div class="h3 text-white light">Unprecedented Engineering.</div>
                    </div>
                </div>
            </div>
        </div> 
    </header>
    </section>
    

    
    <section class="car-features">
        <img src="/images/block_2_bg.jpg" alt="" class="img-fluid">  
    </section> 
    <section class="car-features">
        <img src="/images/block_3_bg.jpg" alt="" class="img-fluid">  
    </section>
  
    <section class="car-features">
        <div class="car-model-pic mx-auto wrap">
            <img src="/images/angled_IS.png" alt="" class="img-fluid">  
        </div>
       <p class="h3 text-center mx-auto text-thin">The IS brings together show-stopping look with <b>advanced hybrid technology</b> and unparalleled comfort. With athletic stance and longe coupe roofline, this exeptional sports saloon is engineered to deliver an effortless, heart-racing performance.</p>
    </section>
   
    
    



