@{
    ViewData["Title"] = "Search Results";
}
<section class="section">
    <div class="container">
        <div class="row">
            <div class="col">
                <h1 class="mt-4 mb-0"><span>PRE-OWNED </span><span class="text-secondary">LEXUS RX MODELS</span></h1>
                <p class="lead mb-4">A WORLD OF OPPORTUNITY</p>
                <span class="d-block py-2"><b>35</b> VEHICLES MATCHING YOUR SEARCH </span> 
            </div>
        </div>
        <div class="row">
                @Html.Partial("result-listing")   
        </div>
    </div>
</section>



