 @{ ViewData["Title"] = "Service"; }

<div class="lexus-shared">
    <section class="section dealers-hero angle--bottom-right">
        <div class="container">
            <div class="row my-5" style="height:200px">
                <div class="col">
                    <img src="/images/bidvest-logo-white.png" alt="" height="50" class="my-4">
                    <h1 class="display-4">@ViewBag.Title</h1>
                </div>
            </div>
        </div>
    </section>

   
</div>