//
// Colors
// --------------------------------------------------
$gradient-degree:     150deg;
$primary-color:       theme-color("primary");
$secondary-color:     $info;


@mixin social-bg-color ($color){
    background-color: $color;
    color: #fff;
}
.bg-facebook {
	@include social-bg-color($social-facebook);
}
.bg-twitter {
	@include social-bg-color($social-twitter);
}
.bg-pinterest {
	@include social-bg-color($social-pinterest);
}
.bg-google {
	@include social-bg-color($social-google);
}
.bg-linkedin {
	@include social-bg-color($social-linkedin);
}
.bg-dribbble {
	@include social-bg-color($social-dribbble);
}
.bg-github {
	@include social-bg-color($social-github);
}
.bg-youtube {
	@include social-bg-color($social-youtube);
}
.bg-instagram {
	@include social-bg-color($social-instagram);
}
.bg-reddit {
	@include social-bg-color($social-reddit);
}
.bg-tumblr {
	@include social-bg-color($social-tumblr);
}
.bg-behance {
	@include social-bg-color($social-behance);
}
.bg-black {
	background: $black !important;
}

//
// GRADIENT
// --------------------------------------------------
.tri-gradient {
	background: linear-gradient($gradient-degree,$primary-color 15%,$secondary-color 70%,$teal 94%);
}
.pri-sec-gradient {
	background: linear-gradient($gradient-degree,$primary-color,$secondary-color);
}
.sec-pri-gradient {
	background: linear-gradient($gradient-degree,$secondary-color,$primary-color);
}
.pri-gradient-lighter {
	background: linear-gradient($gradient-degree,$primary-color,lighten($primary-color,20%));
}
.pri-gradient-darker {
	background: linear-gradient($gradient-degree,$primary-color,darken($primary-color,20%));
}
.sec-gradient-lighter {
	background: linear-gradient($gradient-degree,$secondary-color,lighten($secondary-color,20%));
}
.sec-gradient-darker {
	background: linear-gradient($gradient-degree,$secondary-color,darken($secondary-color,20%));
}
.dark-gradient {
	background: linear-gradient($gradient-degree,$gray-900,$black);
	color: white !important;
}
.light-gradient {
	background: linear-gradient($gradient-degree,$white,$gray-300);
	color: $body-color !important;
}
.brand-text-gradient {
	background: -webkit-linear-gradient(left, $primary-color, lighten($primary-color,20%));
	background: linear-gradient(left, $primary-color, lighten($primary-color,20%));
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
.stripes {
    width: 100%;
    height: 100%;
    overflow: hidden;
    transform: skewY(-12deg);
    transform-origin: 0;
    background: linear-gradient($gradient-degree,$purple 15%,$cyan 70%,$teal 94%);
    position: absolute;
}
.stripes-before {
	position: relative;
	&:before {
	    content: "";
	    position: absolute;
	    z-index: -1;
	    width: 100%;
	    height: 180%;
	    top: 0;
	    transform: skewY(-12deg);
	    background: #f6f9fc;
    }
}