.navbar {
	&.absolute-top {
		position: absolute;
	    top: 0;
	    right: 0;
	    left: 0;
	    z-index: 1030;
	}
	&.navbar-transparent {
		background-color: transparent !important;
	}
}


.navbar-dark,
.navbar-light {
	@each $color, $value in $theme-colors {
		&.bg-#{$color} {
			//box-shadow: 0 4px 20px 0 rgba(0,0,0,.14), 0 7px 12px -5px rgba($value,.46)
		}
	}
}


.navbar-nav {
	.nav-item {
		margin: 0 2px;
		.nav-link {
			border-radius: $border-radius-sm;
			text-transform: uppercase;
			//font-size: $font-size-sm;
			font-family: "nobellexusregular";
			transition: $transition-base;
			&:hover {
				background: rgba(255, 255, 255, 0.05);
			}
		}
		&.active {
			.nav-link {
				background: rgba(255, 255, 255, 0.05);
				color: $primary;
			}
		}
	}
}