$shout:                       9vw !default;
$headings-light:              "nobellexuslight" !default;
.shout {
    font-size: $shout;
    font-weight: $headings-font-weight;
    line-height: $headings-line-height;
}

.shout,
.display-1,
.display-2,
.display-3,
.display-4 {
	font-family: $headings-font-family;
	text-transform: uppercase;
	&.light,
	.light {
		font-family: $headings-light;
	}
	&.gray,
	.gray {
		color: $gray-200;
	}
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
	&.light,
	.light {
		font-family: $headings-light;
	}
	&.gray,
	.gray {
		color: $gray-200;
	}
}


p {
	max-width: 635px; 
}