.home-page { 
    header, .bg-image {
        position: relative;

        overflow: hidden;
        margin-bottom: 0;
    }
    .hero { 
        @extend .angle--bottom-left;
        color:white;   
        background-image: url('/images/club-mccarthy-bg.jpg');
        background-size: cover;  
        z-index: 10;
        p {
            font-size:0.8em;
            font-weight: bold;
        }
       
    }
    .models { 
        margin-top: -164px;
        text-transform: uppercase;
        color:white;
        .col-4 {
            height: 520px;
            padding: 132px 60px;
            
        }
        .col-4:nth-of-type(1) {
            background-image: url('/images/sedan.jpg');
            background-size: cover;
            
            span {display: none;}
            &:hover { 
                span:before { 
                    display:block; 
                    content:'arrow';
                    position: absolute;
                    top:30px;
                }
                
            }
        }
        .col-4:nth-of-type(2) {
            background-image: url('/images/suv.jpg');
            background-size: cover;
        }
        .col-4:nth-of-type(3) {
            background-image: url('/images/coupe.jpg');
            background-size: cover;
        }
    }
    .bidvest-mccarthy { 
        @extend .angle--bottom-right;
        background-image: url('/images/bidvest-dealer.jpg');
        background-size: cover;   
    }
    .bidvest-insurance { 
        @extend .angle--top-right;
        background-image: url('/images/insurance-bg.jpg');
        background-size: cover;
        color: white;
        p { 
            font-size: 0.8em;
        }
    }
     .car-specials { 
         position: relative;
        .car-special-item { 
            img {
                box-shadow: 1px 1px 50px rgba(0, 0, 0, 0.37);
                border-radius: 8px;
            }
            //Car Desc
            span:nth-of-type(1) {
                position: absolute;
                top:12px;
                left:30px;
                font-size:1.2em;
                font-weight:bold;
            }
            //Car Price
            span:nth-of-type(2) {
                position: absolute;
                top:52px;
                left:30px;
                font-size:2em;
                font-weight: bold;
            }
            //Car Special
            span:nth-of-type(3) {
                font-size:1.1em;
                position: absolute;
                top:94px;
                left:30px;
                font-weight: normal;
                &:before {
                    content:'SAVE'; 
                    display: block;
                    text-align: left;
                    margin-bottom: -5px;
                }
            }
        }
    }
}