body { 
    background-image: url('/images/white_leather.png');
    margin-top:0;
}

.models {  
    .car-specs-model { 
        .list-inline {
            margin-top: 50px;
            
            &:emtpy span:nth-of-type(1) {
                display: none;     
            }
            .list-inline-item {    
                margin: 0px -2px;
                height: 320px;
                width: 160px;
                transform: skewX(-20deg);

            &:hover { 
                background:rgba(0, 0, 0, 0.18);
                margin: 0px -2px;
                color:white;        
            }
                
            
            &.active { 
                transform: skewX(-20deg);
                color:white;   
            }
            
               
                span:nth-of-type(1){ 
                    font-weight:bold;
                    font-size:1.3em;
                    color:black;
                    margin-top:-55px;
                    display: block;
                    transform: skewX(20deg); 
                    &:before {
                        content:'From';
                        font-weight: normal;
                        display: block;
                        font-size:1em;
                    }
                    
                    &:empty {
                        display: none;
                    }   
                }
                span:nth-of-type(2) {
                    display: block; 
                    font-size: 3em;
                    font-weight: normal;
                    margin-bottom: 20px;
                    transform: skewX(20deg); 
                    padding:0 30px;
                }
            }
        }
    }
    .car-model-pic { 
        display: block;
        margin-top: -150px;
        margin-bottom: 200px;
        position: relative;
        width:100%;
        img {display: inline-block;}
        img:nth-of-type(1) {
            position: absolute;
            top:-21px;
            left:-100px;
            z-index: 10;
           
        }
        img:nth-of-type(2) {
            position: absolute;
            top:0;
            left:268px;
            z-index: 9;
        }   
        img:nth-of-type(3) {
            position: absolute;
            top:9px;
            left:590px;
            z-index: 8;
        }
    }
    .car-features { 
        position: relative;
        .car-features-row {
            @extend .align-items-center;
            @extend .w-50-md-up;
            height:100vh;
            
            ul { 
                @extend .h3; 
                color:white;
                font-weight: 400; 
                @extend .light;
                    
                li { 
                   margin:30px 0; 
                }
            }  
        }
    }
    .car-vr { 
        .car-vr-models {
            .list-inline {
            margin-top: 10px;
            
            .list-inline-item {    
                margin: 0px -2px;
                transform: skewX(-20deg);
                
                span {
                    display: block;
                    font-size: 1.4em;
                    font-weight: bold;
                    transform: skewX(20deg);
                    padding: 4px 30px;
                }     
            }
   
            & .list-inline-item.active { 
                background:#4d4d4d;
                transform: skewX(-20deg);
                color:white;   
            }
        }    
            
        }
    }
    .car-info-table { 
        thead {
            border-bottom: 1px solid #000000;
        }
        .nav  { 
            display: block;
            text-transform: uppercase;
            font-size: 1.2em;
            overflow:hidden;
            background-image: url('/images/gradient.png');
            background-position-x: 48px;
            background-position-y: -80px;
            background-repeat: no-repeat;
            height: 100%;
           
            .nav-link.active { 
                background: $gray-800;
                color:white;
                width:100%;
                margin-left: 13px;
                @extend .edge--skew;
            }
        }
        
        
    }
    .car-dealerships { 
        
        .stitch-7 { 
            background-image: url(/images/stitch-2.png); 
            width: 100%;
            height: 20px;
            margin-top: -38px;
        }
        .card {       
            img.midrand-map  {
                display: none;
                + span { 
                    display:none;
                }
            }
            box-shadow: 1px 1px 50px rgba(0, 0, 0, 0.8);
            .card-header,.card-footer { border:none;background: transparent;}
            background-image: url('/images/paper-texture.jpg');
            color:white;
            border:none;
            &:hover {
                img.midrand-map  {                
                    height: 204px;
                    display: block;
                    cursor: pointer;
                    ~ .card-header {display: none;}
                    ~ .card-body {display: none;}
                    ~ .card-footer {display: none;}   
                    & + span { 
                        display: block;
                        position: absolute;
                        bottom:0;
                        left:0;
                        width:100%;
                        background:black;
                        color:white;
                        text-align: center;
                        padding:4px;
                    }
                }
            }
        }
    }
    
    .sedans { 
        background: url('/images/sedan-bg.jpg');
        background-size: cover;
        padding-bottom: 140px;
        overflow: hidden;
        .stitch-2 { 
            background-image: url('/images/sedan-panel.png');
            position: absolute;
            right:0;
            top:-60px;
            height:100%;
            width:15px;
            @include rotate(-45deg);
        }
    }
    .suvs { 
        background-image: url('/images/grey_leather.png');
        padding-top: 100px;
        padding-bottom: 220px;
        overflow: hidden;
        margin-top: -124px;
        z-index: 2;
        
            &:before { 
            content: '';
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            background: linear-gradient(90deg, #333333, rgba(255, 255, 255, 0));
            opacity: .6;
            }
        
        .stitch-3 { 
            background-image: url('/images/stitch-3.png');
            position: absolute;
            left:0;
            top:-60px;
            height:100%;
            width:15px;
            @include rotate(30deg);
        }
        .stitch-4 { 
            background-image: url('/images/stitch-4.png');
            position: absolute;
            right:50px; 
            top:0;
            height:100%;
            width:15px;
            @include rotate(180deg);
        }
    }
    .coupes { 
        background-image: url('/images/dark_leather.png');
        margin-top: -122px; 
        z-index: 1;
        overflow: hidden;
        &:before { 
            content: '';
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            background: linear-gradient(90deg, #101010, rgba(255, 255, 255, 0));
            opacity: .6;
            }
        .stitch-5 { 
            background-image: url('/images/stitch-5.png');
            position: absolute;
            left:50px; 
            top:0;
            height:100%;
            width:15px;
            @include rotate(180deg);
        }
        .stitch-6 { 
            background-image: url(/images/stitch-6.png);
            position: absolute;
            right: 220px;
            top: 384px;
            height: 100%;
            width: 15px;
        }

        .list-inline-item { 
            span{color:white!important}
        }
    }
}
.models-detail { 
    .main-cta {
        position: fixed;
        top: 65px;
        right: -12px;
        height: 60px;
        background:rgba(0, 0, 0, 0.7);
        transform: skewX(-20deg);
        z-index: 1000;
        .car-specs { 
            .list-inline {
                text-transform: uppercase;
          
                & .list-inline-item { 
                    min-width: 120px;
                    color:white;
                    height: 60px;
                    width: 248px;
                    
                    span {
                        display: block;
                        font-size: 1.2em;
                        transform: skewX(20deg);
                        font-weight: bold;
                        padding-top: 16px;
                        img { margin-right:10px;}
                    }
                }

                & .list-inline-item:last-child {     
                    background:$blue;
                }

            }
        }
    }
    .main-cta-stick {
        height: 60px;
        transform: skewX(-20deg);
        z-index: 10;
        border-bottom:2px solid #565656;
        width: 100%;
        .car-specs { 
            .list-inline {
                text-transform: uppercase;
                color:white;

                & .list-inline-item {   
                    height: 60px;
                    width:auto;
                    a { 
                        color:black;
                    }
                    span {
                        display: block;
                        font-size: 1.2em;
                        transform: skewX(20deg);
                        font-weight: bold;
                        padding-top: 16px;
                        margin:0 20px;
                        
                    }
                }

                & .list-inline-item:first-child {     
                    background:rgba(0, 0, 0, 0.7);
                    a {
                        color:white!important; 
                    }
                }
            
                & .list-inline-item:hover {                   
                    color:white;
                    height: 58px;                  
                    a {
                        text-decoration: none;
                        &:hover { 
                            color:white;  
                        }
                    }
                }
            }
        }
    }
    .car-specs-model { 
        .list-inline {
           
            .list-inline-item {    
                margin: 0px -2px;
                min-width: 179px;
                height: 200px;
                transform: skewX(-20deg);
                
                p {
                    font-weight: bold;
                    font-size:1.5em;
                    margin-top:20px;
                    transform: skewX(20deg);
                    text-align: center;
                }
                span {
                    display: block; 
                    font-size: 4.5em;
                    font-weight: bold;
                    margin-bottom: 20px;
                    transform: skewX(20deg); 
                    padding:0 30px;
                }
                
                //0-100
                 &:nth-of-type(1) p  { 
                    &:before {
                        content:'0-100 km/h';                     
                    }
                }
                //Max Km/h
                 &:nth-of-type(2) p  { 
                    &:before {
                        content:'Max(km/h)';                     
                    }
                }
                //Emmisions
                 &:nth-of-type(3) p  { 
                    &:before {
                        content:'CO2(g/km)';                     
                    }
                }
            }
            
            & .list-inline-item:nth-child(2) {
                border-right:2px dotted #4d4d4d;
            }
            
            & .list-inline-item:first-child { 
                background:#4d4d4d;
                transform: skewX(-20deg);
                color:white;   
            }
        }
    }
    .car-specials { 
         position: relative;
        .car-special-item { 
            img {
                box-shadow: 1px 1px 50px rgba(0, 0, 0, 0.37);
                border-radius: 8px;
            }
            //Car Desc
            span:nth-of-type(1) {
                position: absolute;
                top:12px;
                left:30px;
                font-size:1.2em;
                font-weight:bold;
            }
            //Car Price
            span:nth-of-type(2) {
                position: absolute;
                top:52px;
                left:30px;
                font-size:2em;
                font-weight: bold;
            }
            //Car Special
            span:nth-of-type(3) {
                font-size:1.1em;
                position: absolute;
                top:94px;
                left:30px;
                font-weight: normal;
                &:before {
                    content:'SAVE'; 
                    display: block;
                    text-align: left;
                    margin-bottom: -5px;
                }
            }
        }
    }
    .car-model-pic { 
    margin-top:-50px;
    }
    .car-model-colours { 
        
        //CAR Colours
        .morello-red {background:$morello-red;}
        .madder-red {background:$madder-red;}
        .graphite-black {background:$graphite-black;}
        .mercury-grey {background:$mercury-grey;}
        .platinum-silver {background:$platinum-silver;}
        .sonic-quartz {background:$sonic-quartz;}
        
        
        .list-inline-item { 
            span {
                @extend .edge--skew;
                display: inline-block;
                width:50px;
                height:15px;
                border-radius:3px;
                box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.9);
                transition: all 0.2s;
            }
            & span:hover { 
                padding-top:10px;
                cursor: pointer;
                height:20px;
                margin-top:-20px;
            }
        }
        p {
            text-align: center;
            font-size:1.2em;
            font-weight: bold;
        }
    }
    .car-features { 
        position: relative;
        .car-features-row {
            @extend .align-items-center;
            @extend .w-50-md-up;
            height:100vh;
            
            ul { 
                @extend .h3; 
                color:white;
                font-weight: 400; 
                @extend .light;
            
                &.wheels { list-style-image: url('/images/wheel-icon.png');}
                &.steering { list-style-image: url('/images/steering-wheel.png');}
                &.seat { list-style-image: url('/images/car-seat.png');}
                    
                li { 
                   margin:30px 0; 
                   
                }
            }  
        }
    }
    .car-vr { 
        .car-vr-models {
            .list-inline {
            margin-top: 10px;
            
            .list-inline-item {    
                margin: 0px -2px;
                transform: skewX(-20deg);
                
                span {
                    display: block;
                    font-size: 1.4em;
                    font-weight: bold;
                    transform: skewX(20deg);
                    padding: 4px 30px;
                }     
            }
   
            & .list-inline-item.active { 
                background:#4d4d4d;
                transform: skewX(-20deg);
                color:white;   
            }
        }    
            
        }
    }
    .car-info-table { 
        thead {
            border-bottom: 1px solid #000000;
        }
        .nav  { 
            display: block;
            text-transform: uppercase;
            font-size: 1.2em;
            overflow:hidden;
            background-image: url('/images/gradient.png');
            background-position-x: 48px;
            background-position-y: -80px;
            background-repeat: no-repeat;
            height: 100%;
           
            .nav-link.active { 
                background: $gray-800;
                color:white;
                width:100%;
                margin-left: 13px;
                @extend .edge--skew;
            }
        }
        
        
    }
    .car-dealerships { 
        .card {    
            background-image: url('/images/paper-texture.jpg');
            color:white;
            border:none;
            .card-header,.card-footer { 
                border:none;background: transparent;
            }        
        }
    }
}
