//VARIABLES
$size: 45px;

//SEARCH RESULTS
.results { 
    @extend .bg-gray-2;
    .breadcrumb { 
        margin-left:300px;
        background:none;
        font-weight: bold;
        text-transform: uppercase;
        font-size: 0.9em;
        
        @include media-breakpoint-down(sm) {
            margin-left:0;
        } 
    }
    .refine-search {
        .btn {
            &:before {
                content: "\f1de";
                font-family: fontawesome;
                margin-right:10px;
                color:black;
            }
        }
    }
    .results-column {
        margin-left: 0;
        @include media-breakpoint-up(md) {
            margin-left:300px;
        } 
        
        .results-heading {
            
            h1 { 
                font-family: "nobellexuslight";
                white-space: nowrap;
                @extend .text-truncate;
                @include media-breakpoint-down(md) {
                    font-size: 1.7em;
                } 
            }
            span {
                position: relative;
                margin-left:20px;
                display: inline-block;
                color:white;
                padding:10px;
                z-index: 200;
                font-weight: bold;
                
                &:before { 
                    content: '';
                    background: $gray-500;
                    transform: skewX(-20deg);
                    z-index: -1;
                    position: absolute;
                    width: 110%;
                    height: 55px;
                    display: inline-block;
                    top: 0;
                    left: -11px;
                    padding-left: 10px;
                }
            
                @include media-breakpoint-down(md) {
                    h1 { 
                        font-size:1em;
                    }
                }
            }
        }
    
    .result-listing {
        @extend .card; 
        margin: 10px 0;
        position: relative;
      
        a { 
            transition: all 0.4s cubic-bezier(.25,.8,.25,1);   
           
        }
        a:hover {
            text-decoration: none;
            box-shadow: 0 7px 14px rgba(0,0,0,0.1), 0 10px 5px rgba(0,0,0,0.1); 
        }
        
         
        .row {
            & div:nth-of-type(1) {    
                // IMAGE
                @extend .col-sm-3;
               
                img
                {
                    width:100%;
                }
                @extend .col-12; 
                position: relative;
                span {
                    position: absolute;
                    top:2px;
                    left:18px; 
                    @extend .badge;
                    @extend .badge-pill;
                    @extend .badge-primary;
                    background:rgba(0, 0, 0, 0.38);
                    padding:6px;
                }
                span:after {
                    font-family: "fontawesome";
                    content: "\f030";
                    margin-left: 5px;     
                }
            }
            // MODEL DETAILS
            & div:nth-of-type(2) { 
                position: relative;
                @extend .col-sm-9; 
                @extend .col-12; 
                padding-top:10px;
                margin-left:0;
                text-transform: uppercase;
                //Model Price
                span:nth-of-type(1) {
                        position: absolute;
                        top: 0px;
                        right: 15px;
                        font-size: 1.8em;
                        font-weight: bold;
                        background: #000;
                        color: white;
                        padding: 3px 12px;
                        height: 44px;
                        display: block;
                        overflow: hidden;
                        z-index: 1;
                        width: auto;
                        min-width: 224px;
                        text-align: right;
                    &:before { 
                        content: '';
                        background: white;
                        transform: skewX(-20deg);
                        left: -157px;
                        top: 0;
                        display: block;
                        z-index: 0;
                        position: absolute;
                        width: 100%;
                        height: 44px;
                    }
                }
                
                 //Mileage
                span:nth-child(2) { 
                    position: absolute;
                    bottom:3px;
                    right:80px;
                    font-size:1.2em;
                    display: block;
                   
                }
                
                 //Model Year 
                 span:nth-of-type(3) {
                    position: absolute;
                    bottom:3px;
                    right:22px;
                    font-size:1.2em;
                    display: block;                
                }
                
                //Model
                span:nth-child(4) {
                    font-size:1.2em;
                    display: block;
                    text-transform: uppercase;
                    padding-left:5px;
                   
                }
                //Model Detailed
                span:nth-child(5) {
                    font-size:2em;
                    display: block;
                    font-weight: bold;
                    text-transform: uppercase;
                    padding-left:5px;
                    @extend .text-secondary;
                    @extend .text-truncate;
                   
                }
                //Model Desc
                span:nth-child(6) {
                    font-size:0.8em;
                    display: block;
                    text-transform: none;
                    @extend .gray-6;
                    margin: 5px 0;
                    padding-left:5px;
                    @extend .text-truncate;
                }
                
                //Dealership Name
                span:nth-child(7) {
                    font-size:1em; 
                    @extend .gray-8;
                    margin: 0px 0px 5px 5px;
                    &:before { 
                        @extend .fas;
                        font-size: 1.2em;
                        @extend .gray-7;
                        
                        content:'\f3c5';
                        font-family: fontawesome;
                        margin-right:5px;
                        
                    }    
                }  
            }
        }
    }
}
    & + footer {
        margin-left:300px;
        
        @include media-breakpoint-down(sm) {
            margin-left:0;
        }  
    }
}

// FACETS
.facets {
    position: fixed;
    top: 4.5rem;
    left: 0;
    width: 240px;
    height: 714px;
    margin: 30px;
    overflow-y: scroll;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    background: white;
    
    p { 
        @extend .lead;
    }
    
    > div:first-child { 
        background: #c1c1c1; 
        color:white;
        text-transform: uppercase;
        padding: 13px;
        height: 41px;
        font-weight: bold;
        font-size:0.9em;
        
        &:before {
            content: "\f1de";
            font-family: fontawesome;
            margin-right:20px;
            
        }
    }
    .lead {
        text-transform: uppercase;
        font-size:0.9em;
        margin:15px 20px;
        font-weight: bold;
        color:black;
             
    }
    .search-list { 
        div { 
            position: relative;
            padding: 5px 44px;
            font-size: 0.9em;
            
            
            & a {
                color:black;
                margin:0;
                text-decoration: none;
            }
            &.active {
                font-weight: bold;
                margin-left:20px;
                a {
                    color:black;
                    &:before { 
                        content:'';
                        position: absolute;
                        top: 5px;
                        left: 26px;
                        width: 22px;
                        height: 46px;
                        background-repeat: no-repeat;
                        background-image: url(/images/black-chevron.png);
                    }
                }
                
                &:hover { 
                    background: white;
                    margin-left:20px;
                }
                
                .badge {
                    background: white;
                    color:black;
                }
            }
            
            &:hover  {
                background: rgba(0, 0, 0, 0.20);  
                cursor:pointer;
                color:white;
                margin:0;
            }
        }
        span {
            position: absolute;
            top: 6px;
            right: 14px;
            color: grey;
            min-width: 25px;
            text-align: right;
        }
    }
}

//SEARCH DETAILS
.result-details { 
    background:#d9d8d9;
    background: rgb(151,151,151); 
    background: -moz-linear-gradient(top, rgba(151,151,151,1) 26%, rgba(217,216,217,1) 38%); 
    background: -webkit-linear-gradient(top, rgba(151,151,151,1) 26%,rgba(217,216,217,1) 38%); 
    background: linear-gradient(to bottom, rgba(151,151,151,1) 26%,rgba(217,216,217,1) 38%); 
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#979797', endColorstr='#d9d8d9',GradientType=0 ); 
    margin-right:350px;
    
        @include media-breakpoint-down(md) {
            margin-right:0;
        } 

    .detail-card{
        background-color: transparent;
        border: none;
        max-width: 640px;  
        margin-top: 20px;
      
    }
    .map {
        max-width: 640px;
        border:2px solid black;
        border-radius: 3px;
        overflow: hidden; 
    }
    
    .details-map { 
        position: relative;
        width:100%;
       
        .gradient-blend { 
            background: -moz-linear-gradient(top, rgba(217,216,217,1) 0%, rgba(229,229,229,0.85) 15%, rgba(229,229,229,0) 100%); 
            background: -webkit-linear-gradient(top, rgba(217,216,217,1) 0%,rgba(229,229,229,0.85) 15%,rgba(229,229,229,0) 100%); 
            background: linear-gradient(to bottom, rgba(217,216,217,1) 0%,rgba(229,229,229,0.85) 15%,rgba(229,229,229,0) 100%); 
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d9d8d9', endColorstr='#00e5e5e5',GradientType=0 );  
            width: 100%;
            display: block;
            height: 175px;
            position: absolute;
            z-index: 10;
        }
    }
    
    
    .thumbnail-img { 
        img {
            min-width: 125px;
            transition: box-shadow .4s;
            &:hover {
                box-shadow: 0 0 10px rgba(33,33,33,.9); 
                cursor: pointer;
            }
        }
    
    }
    .card {
        border:0;
    }
    .card-header {
        text-transform: uppercase; 
        position: relative;
        background: none;
        color:white;
        
        h1 {
            @extend .text-truncate;
            margin-right: 120px;
            margin-bottom: 0;
            @include media-breakpoint-down(md) {
                font-size:1.5em;
                margin-bottom: 0;
            } 
        }

        span {
                background: white;
                z-index: 1;
                position: absolute;
                top: 14px;
                right: 0;
                font-size: 2.5em;
                font-weight: bold;
                color: black;
                padding: 0px 20px;
            
                @include media-breakpoint-down(md) {
                    font-size:1.8em;
                    top: 10px;
                } 
  
            &:before {
                background: inherit;
                content: '';
                display: block;
                height: 100%;
                left: 0;
                position: absolute;
                right: 0;
                z-index: -1;
                -webkit-backface-visibility: hidden; // for Chrome Windows
            }

            &:before {
                top: 0px;
                width:99%;
                transform: skewX(-22deg);
                transform-origin: 100% 0;
              }
        }
    }
    
    .card-body { 
        .list-group { 
            position: relative;
            
            li.list-group-item  {   
                //Condition
                &:nth-of-type(1) p { 
                    margin:0;
                    &:before {
                        content:'Condition';
                        margin:0;
                    }
                }
                //Mileage
                &:nth-of-type(2) p { 
                    margin:0;
 
                    &:before {
                        content:'Mileage';
                        margin:0;
                    }
                }
                //Year
                &:nth-of-type(3) p { 
                    margin:0;
 
                    &:before {
                        content:'Year';
                        margin:0;
                    }
                }
                //Colour
                &:nth-of-type(4) p { 
                    margin:0;
 
                    &:before {
                        content:'Colour';
                        margin:0;
                    }
                }             
                span { 
                    position: absolute;
                    top:12px;
                    right:12px;
                    font-weight: bold;  
                }  
                
            }    
        }
    }
    
    .car-specs { 
        .list-inline {
            margin-top: 20px;
            & .list-inline-item { 
                min-width: 120px;
                transform: skewX(-20deg);
                
                p {
                    font-weight: bold;
                    font-size:0.9em;
                    margin-top:20px;
                    transform: skewX(20deg);
                }
                span {
                    display: block; 
                    font-size: 1.5em;
                    margin-bottom: 20px;
                    transform: skewX(20deg); 
                }
                
                //Mileage
                 &:nth-of-type(1) p  { 
                    &:before {
                        content:'Mileage';                     
                    }
                }
                //Year
                 &:nth-of-type(2) p  { 
                    &:before {
                        content:'Year';                     
                    }
                }
                //Engine
                 &:nth-of-type(3) p  { 
                    &:before {
                        content:'Engine';                     
                    }
                }
                //Transmission
                 &:nth-of-type(4) p  { 
                    &:before {
                        content:'Transmission';                     
                    }
                }
                @include media-breakpoint-down(md) {
                    min-width: 60px;
                    p {
                        font-size:0.9em;
                    }
                    span {
                        font-size: 0.8em;
                    }
                } 
            }
            
            & .list-inline-item:nth-child(n + 2):not(:nth-child(n + 4)) {
                border-right:2px dotted $gray-600;
                margin:3px;
                border-radius: 0;
                @include media-breakpoint-down(md) {
                    border-color:$gray-500;
                } 
            }
            
            & .list-inline-item:first-child { 
                background:#4d4d4d;
                transform: skewX(-20deg);
                color:white;   
            }
        }
    }
    
    .breadcrumb { 
        background:none;
        font-weight: bold;
        text-transform: uppercase;
        font-size: 0.8em;
        margin: -5px -15px;
        a {
            color:$gray-400;
        }
        .active {color:white;}
    }
    


    //CUSTOM CAROUSEL
    @include media-breakpoint-up(lg) {
        .carousel-control-prev {
            left: -70px;
        }
        .carousel-control-next {
            right: -70px;  
        }
    } 
    
    .carousel-control-next-icon {
        background-image: url('../images/right-arrow.png');
        height: 50px;
    }

    .carousel-control-prev-icon {
        background-image: url('../images/left-arrow.png');
        height: 50px;
    }
}

//CONTACT DEALER
.result-contact {
    @extend .bg-gray-8;
    box-shadow: 0 7px 14px rgba(0,0,0,0.1), 0 5px 5px rgba(0,0,0,0.1); 
    position: fixed;
    top:4rem;
    right:0;
    width:350px;
    height:100%;
    overflow-y: scroll;
    
    .dealer-name { 
        height: 41px;
        color: #ffffff;
        padding-top: 20px;
        font-size: 1.3em; 
        font-weight: bold;
        text-align: center;
        text-transform: uppercase;
    }
    .dealer-num {   
        font-weight: 900;
        color: #ffffff;
        font-size: 1.3em;
        text-align: center;
        padding-top: 16px;
        &:before {
            content: "\f095";
            font-family: fontawesome;
            margin-right:5px;
        }
    }
    & + footer {
        margin-right:350px;
        @include media-breakpoint-down(md) {
            margin-right:0;
        }  
    }
}
.result-contact-sm {
    
    background: $gray-800;
    color:white;
    
    .dealer-name { 
        background: $gray-800;
        height: 41px;
        padding: 10px;
        font-size: 1.2em; 
        font-weight: bold;
        text-align: center;
    }
    .dealer-num {   
        font-weight: 900;
        font-size: 1.7em;
        text-align: center;
        padding-top: 16px;
    }
    
    label { 
        text-transform: uppercase;
        margin-top: 5px;
        font-size: 0.9em;
    }
  
    .form-control { 
        border: 1px solid #cecece;
    }
}
  



